<div class="row" style="margin: 5px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
        <a id="logo" class="link" href="overview.html" title="Stellar Candles">
            <span class="homeLink">Stellar&nbsp;Candles</span>
        </a>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-12 headerLinks">
        <a class="link" id="configurationLink" href="configuration.html" style="float: right; padding-left: 15px;">Configuration</a>
        <a class="link" id="myExchangesLink" href="myExchanges.html" style="float: right;">My Exchanges</a>
    </div>
</div>