hr {
    background-color: rgb(91, 106, 114);
    height: 4px;
}

.paddedRow {
    padding: 30px;
}

input[type='text'] {
    border: 1px solid black;
    margin-bottom: 4px;
    height: 28px;
    color: black;
}

input.invalid {
    border-color: #ED8117;
    background-color: #FAD9B9;
}

div[data-hint-for] {
    display: none;
    margin-left: 125px;
    margin-bottom: 5px;
    color: #ED8117;
}

input#newAssetCode, input#newAnchorAddress {
    text-transform: uppercase;
}

div.valueList {
    margin-bottom: 30px;
}

input#newAnchorAddress {
    width: 500px;
}

input#newAnchorName {
    width: 250px;
}

label {
    width: 115px;
}

button {
    border: none;
    border-radius: 3px;
    height: 28px;
    min-width: 50px;
    background-color: #23527c;
    color: white;
}
button:focus, button:hover {
    background-color: #4d81b0;
    font-weight: bold;
}

button.big-button {
    height: 40px;
    min-width: 80px;
}

div.customItemRow {
    margin-bottom: 8px;
    border: 1px solid transparent;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}
div.customItemRow:hover {
    border: 1px solid #8396a0;
}
@keyframes animateGreen {
    from { background-color: #46B446; }
    to { background-color: inherit; }
}
div.customItemRow.highlight {
    animation: animateGreen 1s linear 1;
}
div.customItemRow > span {
    padding-right: 10px;
    cursor: pointer;
    color: #ED8117;
    font-weight: bold;
}
div.customItemRow > div.itemTitle {
    flex: 1;
}

div.customItemRow > span:hover {
    text-decoration: underline;
}

div.dd-select {
    border: 1px solid black;
    border-right: none;
}
a.dd-selected {
    border-right: 1px solid black;
}

div#assetTypesDropDown-dd-placeholder {
    float: left;
}
div#anchorsDropDown-dd-placeholder {
    float: left;
    margin-left: 4px;
}