input[type='text'] {
    border: 1px solid black;
    margin-bottom: 4px;
    height: 25px;
    color: black;
}

input#newAnchorAddress {
    width: 500px;
}

input#newAnchorName {
    width: 250px;
}

label {
    width: 120px;
}

button {
    border: none;
    border-radius: 3px;
    height: 25px;
    background-color: #23527c;
    color: white;
}