hr {
    background-color: rgb(91, 106, 114);
    height: 4px;
}

.paddedRow {
    padding: 30px;
}

input[type='text'] {
    border: 1px solid black;
    margin-bottom: 4px;
    height: 25px;
    color: black;
}

input#newAssetType, input#newAnchorAddress {
    text-transform: uppercase;
}

div.valueList {
    margin-bottom: 30px;
}

input#newAnchorAddress {
    width: 500px;
}

input#newAnchorName {
    width: 250px;
}

label {
    width: 120px;
}

button {
    border: none;
    border-radius: 3px;
    height: 25px;
    background-color: #23527c;
    color: white;
}

button.big-button {
    height: 40px;
    min-width: 80px;
}

div.customItemRow {
    margin-bottom: 8px;
    border: 1px solid transparent;
    cursor: default;
}
div.customItemRow:hover {
    border: 1px solid #8396a0;
}
@keyframes animateGreen {
    from { background-color: #46B446; }
    to { background-color: inherit; }
}
div.customItemRow.highlight {
    animation: animateGreen 1s linear 1;
}
div.customItemRow > span {
    cursor: pointer;
    color: #ED8117;
    font-weight: bold;
}
div.customItemRow > div.itemTitle {
    display: inline-block;
    width: 82%;
}

div.customItemRow > span:hover {
    text-decoration: underline;
}

div#assetTypesDropDown-dd-placeholder {
    float: left;
}
div#anchorsDropDown-dd-placeholder {
    float: left;
    margin-left: 4px;
}