div#baseAssetCodeDropDown-dd-placeholder,
div#counterAssetCodeDropDown-dd-placeholder {
    float: left;
}
div#baseAssetAnchorDropDown-dd-placeholder,
div#counterAssetAnchorDropDown-dd-placeholder {
    float: left;
    margin-left:4px;
}

div.swapButton {
    float: left;
    font-size:1.2em;
    font-weight: bold;
    /*Lots of hard-code here :-( */
    line-height: 38px;
    width: 45px;
    text-align: center;
}
div.swapButton>a {
    text-decoration: none;
}

div.chartNoData {
    height: 300px;
    line-height: 300px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}