html {
    height: 100%;
}

body {
    /* The only way to make the #footer work as expected */
    min-height: 100%;
    padding-bottom: 30px;
}

html, body {
    position: relative;
    background-color: rgb(246, 246, 246);
    font-family: consolas,"Liberation Mono",courier,monospace;
    font-size: .92rem;
    color: #5B6A72;
}

footer#footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

footer#footer > div {
    font-size: .75em;
    color: #AAAAAA;
    text-align: center;
}

@font-face {
    font-family: "Truly Madly Dpad";
    src: url('../fonts/Truly_Madly_Dpad.otf');
}

a.link {
    font-family: "Truly Madly Dpad";
    font-size: 1.4em;
    text-decoration: none;
    color:#355572;
}
a.link:hover, a.link:focus {
    color: #4d81b0;
}

a#logo {
    background-image: url('../images/my-lame-logo.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height:50px;
    padding-left: 58px;
}
a#logo > span.homeLink {
    font-size:32px;
}

div.headerLinks {
    line-height: 50px;
    padding-right: 40px;
}

th {
    padding-left: 4px;
}

.error {
    color: red;
}

div.exchange-link {
    min-height: 300px;
    height: 100%;
    cursor: pointer;
    border: 2px solid #8396a0;
}
div.exchange-link:hover {
    border: 2px solid #4d81b0;
}