html, body {
    height: 100%;
    background-color: rgb(246, 246, 246);
    font-family: consolas,"Liberation Mono",courier,monospace;
    font-size: .92rem;
    color: rgb(91, 106, 114);
}

.error {
    color: red;
}

#tradeHistoryTable {
    border-right: 1px solid rgb(91, 106, 114);
    border-left: 1px solid rgb(91, 106, 114);
    border-spacing: 0px;
    border-collapse: separate;
}

#tradeHistoryData td.buy {
    color: #46b446;;
}

#tradeHistoryData td.sell {
    color: rgb(237, 129, 23);
}

#tradeHistoryData td {
    border-bottom: 1px solid rgb(91, 106, 114);
    padding-left: 5px;
    padding-right: 15px;
}

#orderBookBids td, #orderBookAsks td {
    padding-left: 5px;
    padding-right: 15px;
}

div#currentPrice {
    font-size: 2rem;
    font-weight: bold;
    padding: 14px;
}

div#currentPrice > span.buy {
    color: #46b446; /*#3aba3a; rgb(184, 233, 134); */
}

div#currentPrice > span.sell {
    color: rgb(237, 129, 23);
}
